<div class="container">
  <div class="row">
    <div class="small-8 columns">
      <h1 class="inset">StoryWard</h1>
      <h2>Build literature, together.</h2>
      <p>
        There are two sides to every story. StoryWard is a platform for people to contribute to the process of writing a story collaboratively. A piece of a story is a "node", and nodes are combined together in sequence to make a story. You can "fork" a node, if the node's author allows it, and continue the story in your own words. Build the plot you like best from other user's nodes.
      </p>
      <div id="group-chart" class="small-5-columns" data-nodes="<%= @nodes %>"></div>
      <div id="superNavTwo" class="small-3-columns" style="display: none; float: right; margin-top: -250px">All the content goes here</div>
      <div id="chart-holder"><div id="chart" style="display: none" data-node="1"></div></div>
    </div>
    <div class="small-4 columns">
      <h4><%= link_to "Create an Account", new_user_registration_path %></h4>
      <h4><%= link_to "Log In", new_user_session_path %></h4>
    </div>
</div>
