<div class="show-user">
  <div class="row">

    <div class="small-4 columns">
      <div class="row">
        <div class="small-5 columns">
          <%= image_tag @user.image_url%>
        </div>
        <div class="small-7 columns">
          <h2><%= @user.name %></h2>
        </div>
      </div>
      <div class="small-12 columns">
      	<h4>Stories Started</h4>
      </div>
      <div class="small-12 columns">
      	<h4>Nodes Authored</h4>
      </div>
    </div>

    <div class="small-8 columns">
      <div class="row">
        <div class="small-4 columns">
          <h4>Favorite Authors</h4>
        </div>
        <div class="small-4 columns">
          <h4>Favorite Stories</h4>
      </div>
      <div class="small-12 columns">
      	<h4>Story Viewer</h4>
      </div>
    </div>

  </div>
</div>
