<div id="node-page" class="show-story">
  <h2><%= @node.title %></h2>

  <div id='chart' class='small-6-columns' data-node='<%= @node.id %>'></div><div><a id='node-link' class="hide"></a></div><div id='superNav'></div>

  <hr>
  <p><%= @node.content %></p>

</div>
<%# link_to "Delete", story_node_path(1, @node), :method => :delete %>