<% if node.children_nodes.length > 1 %>
  <a href="#" data-dropdown="drop<%= node.id %>" class="radius label">Check Out Another Branch</a>
  <ul id="drop<%= node.id %>" class="f-dropdown" data-dropdown-content>
    <% node.children_objects.each do |child| %>
      <li><%= link_to child.title, story_path(child) %></li>
    <% end %>
  </ul>
<% end %>
<%= link_to "Create a New Branch!", "/stories/new/#{node.id}", class: "radius label" %>