<<<<<<< HEAD
<div id="index-page" class="story-list small-12 columns">
  <div id="group-chart" class="small-7 columns" data-nodes="<%= @nodes %>"></div>
  <div id="superNavTwo" class="small-5 columns">All the content goes here</div>
=======
<div id="index-page" class="story-list small-8-columns">
  <div id="group-chart" class="small-5-columns graph-container" data-nodes="<%= @nodes %>"></div>
  <div id="superNavTwo" class="small-3-columns">All the content goes here</div>
>>>>>>> search
  <div id="chart-holder"><div id="chart" class="hide" data-node="1"></div></div>

  <div class="row">
    <div class="small-12 columns">
      <% if @book_nodes.length > 0 %>
        <% @book_nodes.each do |node| %>
          <% @node = Node.find(node[:id]) %>
          <div class="story">
            <h4><%= link_to @node.title, @node %></h4>
            <% if @node.user %>
              <p><i>Started by <%= @node.user.name %></i></p>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <h4>There are no stories to show.</h4>
      <% end %>
    </div>
  </div>
</div>
