<div id="index-page" class="story-list small-8-columns">


<div class="row">
  <div class="story-show">

    <% if @stories.length > 0 %>
      <% @stories.each do |story| %>
        <div class="small-4 columns">
            <h4><%= link_to story.node.title, node_path(story.node) %></h4>
            <p><i>Started by <%= story.user.name %></i></p>
        </div>
      <% end %>

    <% else %>
      <h4>There are no stories to show.</h4>
    <% end %>
  </div>
</div>


