label {
  font-size: 20px;
}

input {
  font-size: 17px;
}

.token-input-dropdown-facebook {
  z-index: 9999 !important;
}

.token-input-input-token-facebook, #token-input-tag_tokens {
  width: 400px !important;
}