#show-story {
  margin: auto;
  width: 900px;
  background-image: url(image_path('ricepaper2.png'));
  padding: 25px;
}

.box-shadowify {
  box-shadow: 0px 0px 30px #888888;
}

.brighten {
  display:none;
}

#reading-background {
 background-color: #451307;  
}

#reading-page {
  background-color: black;
}

#reading-page button {
  position: fixed;
}
