#story-viewer {
	text-align: center;
}

hr {
	border-color: rgba(205,170,125,0.5);
}

.profile-list-headers {
	font-style: italic;
}

.spacing {
  margin: 23px 1px 1px 1px;
  padding-left: 5%;
}

.select-entry {
  padding-left: 5%;
  border: 1px #bbb solid;
  margin: 18px 0 -1px -1px;
}