#map-offset {
  margin-top: 50px;
  position: fixed;
}

#story-map {
  opacity: 0.5;
  width: 45px;
}

#story-map:hover {
  opacity: 1.0;
}


#unbookmarked_icon {
  opacity: 0.5;
}

#unbookmarked_icon:hover {
  opacity: 1.0;
}

#bookmarked_icon {
  opacity: 1.0;
}

#bookmarked_icon:hover {
  opacity: 0.5;
}