body {
  background-image: image-url("ricepaper2.png");
}

h1.inset {
  text-shadow: 0px 2px 3px #FFFFFF;
}

.light-box {
  background-color:rgba(255,255,255,0.25);
  border-radius: 15px;
}

.on-dark-bg a {
  color: #C8C7C7;
}

.on-dark-bg h1, .on-dark-bg h2 {
  color: #C8C7C7;
}
