circle.node {
  cursor: pointer;
  stroke: #fa7429;
  stroke-width: 1.5px;
}

line.link {
  fill: none;
  stroke: #fcb483;
  stroke-width: 1.5px;
}

circle {
  fill: #fff;
  stroke: #fa7429;
}

text, .node {
  font: 10px sans-serif;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.node circle {
  stroke-width: 1.5px;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

path {
  stroke: #fff;
  fill-rule: evenodd;
}

#chart-holder {
  width: auto;
}

#chart {
  width: 74%;
  float: left;
}

#superNav {
  width: 25%;
  float: right;
}

#story-preview {
  overflow-y: scroll;
  margin-right: 5px;
}

.node-preview {
  border-radius: 1em;
  background-color: #FFD39B;
  height: 16%;
  margin: 4% 0;
}

.node-preview h5 {
  margin-left: 1em;
  margin-top: 0.5em;
}

.node-preview p {
  margin-left: 2em;
  margin-top: 0.5em;
}

.full-color {
  background-color: #EEC591;
  height: 30%;
  margin: 4% 0;
  overflow-y: scroll;
}

.small-preview {
  font-size: 12px;
}

.hide {
  display: none;
}

#superNavTwo {
  display: none;
  float: right;
  margin: -275px 10% 0 0;
  width: 300px;
}

#node-link {
  margin-right: 5px;
}
