circle.node {
  cursor: pointer;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

circle {
  fill: #fff;
  stroke: steelblue;
}

text, .node {
  font: 10px sans-serif;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.node circle {
  stroke-width: 1.5px;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

path {
  stroke: #fff;
  fill-rule: evenodd;
}

#chart-holder {
  width: auto;
}

#chart {
  width: 74%;
  float: left;
}

#superNav {
  width: 25%;
  float: right;
}

#story-preview {
  overflow-y: scroll;
  height: 600px;
}

.node-preview {
  background-color: #f0d1db;
}

.full-color {
  background-color: #d9ffcf;
  height: 25%;
  margin: 2% 0;
  overflow-y: scroll;
}

#index-page .full-width {
  width: 100% !important;
}

#node-page .full-width {
  width: 80% !important;
  clear: right;
  float: right;
}

.small-preview {
  font-size: 12px;
}

.hide {
  display: none;
}

#superNavTwo {
  display: none;
  float: right;
  margin-top: -250px;
}